CREATE DATABASE [CircusAuditDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CircusAuditDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\CircusAuditDB.mdf' , SIZE = 5120KB , FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CircusAuditDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\CircusAuditDB_log.ldf' , SIZE = 1024KB , FILEGROWTH = 10%)
GO
USE [CircusAuditDB]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [CircusAuditDB] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO
